@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap');


*{
	padding: 0px;
	margin: 0px;
}
body{
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Slab', serif;
   background: #E5E5E5;

}
.nav-head{
	width: 100%;
	float: left;
	background: #F0FFF0;
	padding: 25px 0;
}
.nav-link.js-scroll-trigger:active{
	background-color: orange!important;
	padding: 4px 8px;
	border-radius: 5px;
	color: #fff;

}
.hero{
    width: 100%;
    float: left;
    background: #F0FFF0; 
}
.img-logo{
	width: 160px!important;
}
.home-content p{
	color: red;
	font-size: 12px;
	padding-top: 15px;
}
.home-content h2{
	font-weight: bold;
	padding-bottom:  7px;
	font-size: 38px;
}
.home-content h2 span{
	color: #21B573;
}
.home-content h6{
	padding:5px 0 20px;
	font-size: 14px;
}
.cstm-btn-one{
   background: #21B573;
   color: #fff;
   border-radius: 30px;
   padding: 7px 22px;
   border: 2px solid black;
   font-size: 18px;
   margin: 15px 0 20px;
}
.home-img{
	
}
.img-home{
	width: 460px!important;
	padding-bottom: 20px;
}
.book{
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
.card{
	text-align: center;
	padding: 15px 7px 20px 7px;
	display: block;
	margin: 0 auto;
}
.card-img-top{
	width: 120px;
}
.card-img-top-3{
	width: 100px;
}
.card-img-top-2{
	width: 112px;
}
.content{
	width: 100%;
	float: left;
}
.news h2{
	text-align: center;
}
.card-one{
	margin-top:20px;
	background: #fff!important;
	border: none;
	padding: 5px;
	border-radius: 18px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.card-img-top-1{
	width: 334px!important;
	height: 234px;
	display: block;
	margin: 0 auto;
}
.card-img img{
	margin-top: 15px;
}
.card-body h5{
	color: #413960;
	font-size: 24px;
}
.card-body p{
	color: #585859;
	font-size: 16px;
	font-weight: 400;
}
.btn-two{
	background: #213573;
	border-radius: 33px;
	color: white;
	padding: 5px 23px;
	margin: 15px 0;
	text-decoration: none;
}
.side-lft{
	margin-top: 50px;
}
.side-lft span{
	font-size: 14px;
}
.side-right{
	margin-top: 50px;
}
.side-right span{
	font-size: 14px;
}
section{
	padding-top: 50px;
}
.others{
	width: 100%!important;
	float:left;
	padding-bottom: 30px;

}
.other-title{
	margin: 0 auto;
	padding-bottom: 30px;
}
.other-title h2{
	margin: 0 auto;
	text-align: center;
}
.other-img{
	width: 180px!important;
}
.other-content{
	font-size: 16px;
	padding: 30px 0 25px;
}
.blg{
	width: 100%;
	float: left;
	background: #282531;
	color: white;
}
.foot-content{
	padding: 30px 0;
	text-align: center;
}
@media (min-width: 320px) and (max-width: 600px){
	.img-home{
	width: 220px!important;
	padding-bottom: 20px;
}
}
@media (min-width: 600.01px) and (max-width: 768px){
	.img-home{
	width: 240px!important;
	padding-bottom: 20px;
}
.card-img-top-1{
	width: 160px!important;
	height: 180px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.other-img{
	width: 120px!important;
}
.other-content{
	font-size: 12px;
	padding: 20px 0 25px;
}

}
@media (min-width: 768.01px) and (max-width: 992px){
	.img-home{
	width: 280px!important;
	padding-bottom: 20px;
}
.card-img-top-1{
	width: 200px!important;
	height: 200px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.other-img{
	width: 130px!important;
}
.other-content{
	font-size: 14px;
	padding: 30px 0 25px;
}

}

@media (min-width: 992.01px) and (max-width: 1200px){
	.img-home{
	width: 300px!important;
	padding-bottom: 20px;
}
.card-img-top-1{
	width: 220px!important;
	height: 200px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.other-img{
	width: 150px!important;
}
.other-content{
	font-size: 14px;
	padding: 30px 0 25px;
}

}